
.assistant {
    flex: none;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
    border: #bababa 1px solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .assistantBox {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }
.assistantText {
    position: relative;

    padding: 10px;
    padding-bottom: 25px;
    background-color: #f0f0f0c4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    max-width: 90%;
  }
.copyButton{
  position: absolute;
  bottom: 4px; 
  right: 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
/* .copyButton:hover{
  cursor: pointer;
  background-color: #c1baba;
} */
.copyButton span{
  font-size: 14px;
  color: #898484;
}

.code pre{
  margin: 10px 0;
  border: #898484;
  border-radius: 5px;
  background-color: #111111;
  padding: 15px;
  color: #ffffff;
  overflow-x: auto;
  
}