.passwordWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.passwordWrapper input {
    margin-bottom: 10px;
  }
  .passwordInput {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #555;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
  }
  
  .passwordInput:focus {
    border-color: #6fa8dc;
    box-shadow: 0 0 5px #6fa8dc;
    outline: none;
  }
  .passButton {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  .passButton:hover {
    background-color: #136a16;
  }
  
  .buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin-top: 10px;
  }